.mass-media {

  &__wrapper {
    max-width: 1280px;
    margin: auto;
  }

  &__top-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__attention-title {
    display: block;
    font-weight: 600;
    text-align: center;
  }

  &__attention-block {
    display: flex;
  }

  &__attention-item {
    display: flex;
    flex: 1;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.05);

  }

  &__schedule-title {
    display: block;
    font-weight: 600;
  }

  &__schedule-item-inner {
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
  }

  &__schedule-item-img-box {
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.05);
    width: fit-content;
    margin-right: 12px;
  }

  &__schedule-item-img {
    padding: 24px;
  }

  &__schedule-item-date {
    font-weight: 600;
  }

  &__schedule-item-time {
    font-weight: 400;
  }

  &__schedule-item-place {
    font-weight: 400;

    &_yellow {
      color: #FFA14A;
    }
  }

  @include desktop {
    padding-top: 245px;
    padding-bottom: 160px;

    &__wrapper {
      padding: 0 40px;
    }

    &__top-box {
      margin-bottom: 80px;
    }

    &__title {
      margin-bottom: 35px;
    }

    &__subtitle {
      margin-bottom: 35px;
    }

    &__attention {
      margin-bottom: 80px;
    }

    &__attention-title {
      font-size: 36px;
      line-height: 125%;
      letter-spacing: -0.72px;
      margin-bottom: 32px;
    }

    &__attention-item {
      align-items: center;
      justify-content: center;
      min-height: 100px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &__attention-item-inner {
      padding: 20px;
    }

    &__schedule {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 80px;
      }
    }

    &__schedule-title {
      margin-bottom: 35px;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -0.96px;
    }

    &__schedule-container {
      display: flex;
      flex-wrap: wrap;
      margin-left: -12px;
      margin-right: -12px;
    }

    &__schedule-item {
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 20px;
      flex-basis: 33.3%;
    }

    &__schedule-item-inner {
      padding: 12px;
    }

    &__schedule-item-date {
      font-size: 22px;
      line-height: 140%;
      letter-spacing: -0.44px;
    }

    &__schedule-item-time {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;
    }

    &__schedule-item-place {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;
    }
  }

  @include small-desktop {
    padding-top: 200px;
    padding-bottom: 160px;

    &__wrapper {
      padding: 0 40px;
    }

    &__top-box {
      margin-bottom: 80px;
    }

    &__title {
      margin-bottom: 35px;
    }

    &__subtitle {
      margin-bottom: 35px;
    }

    &__attention {
      margin-bottom: 80px;
    }

    &__attention-title {
      font-size: 36px;
      line-height: 125%;
      letter-spacing: -0.72px;
      margin-bottom: 32px;
    }

    &__attention-item {
      align-items: center;
      justify-content: center;
      min-height: 100px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &__attention-item-inner {
      padding: 20px;
    }

    &__schedule {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 80px;
      }
    }

    &__schedule-title {
      margin-bottom: 35px;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -0.96px;
    }

    &__schedule-container {
      display: flex;
      flex-wrap: wrap;
      margin-left: -12px;
      margin-right: -12px;
    }

    &__schedule-item {
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 20px;
      flex-basis: 33.3%;
    }

    &__schedule-item-inner {
      padding: 12px;
    }

    &__schedule-item-date {
      font-size: 22px;
      line-height: 140%;
      letter-spacing: -0.44px;
    }

    &__schedule-item-time {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;
    }

    &__schedule-item-place {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;
    }
  }

  @include tablet {
    padding-top: 160px;
    padding-bottom: 120px;

    &__wrapper {
      padding: 0 40px;
    }

    &__top-box {
      margin-bottom: 80px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__subtitle {
      margin-bottom: 25px;
    }

    &__attention {
      margin-bottom: 80px;
    }

    &__attention-title {
      font-size: 28px;
      line-height: 125%;
      letter-spacing: -0.56px;
      margin-bottom: 32px;
    }

    &__attention-item {
      align-items: center;
      justify-content: center;
      min-height: 100px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &__attention-item-inner {
      padding: 20px;
    }

    &__schedule {
      margin-bottom: 40px;
    }

    &__schedule-title {
      margin-bottom: 35px;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: -0.8px;
    }

    &__schedule-container {
      display: flex;
      flex-wrap: wrap;
      margin-left: -9px;
      margin-right: -9px;
    }

    &__schedule-item {
      padding-left: 9px;
      padding-right: 9px;
      margin-bottom: 20px;
      flex-basis: 50%;
    }

    &__schedule-item-inner {
      padding: 12px;
    }

    &__schedule-item-date {
      font-size: 22px;
      line-height: 140%;
      letter-spacing: -0.44px;
    }

    &__schedule-item-time {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;
    }

    &__schedule-item-place {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;
    }
  }

  @include mobile {
    padding-top: 120px;
    padding-bottom: 80px;

    &__wrapper {
      padding: 0 15px;
    }

    &__top-box {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__subtitle {
      margin-bottom: 16px;
    }

    &__attention {
      margin-bottom: 40px;
    }

    &__attention-title {
      font-size: 22px;
      line-height: 125%;
      letter-spacing: -0.44px;
      margin-bottom: 20px;
    }

    &__attention-block {
      flex-direction: column;
    }

    &__attention-item {
      min-height: 60px;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__attention-item-inner {
      padding: 20px;
    }

    &__schedule {
      margin-bottom: 40px;
    }

    &__schedule-title {
      margin-bottom: 35px;
      font-size: 26px;
      line-height: 120%;
      letter-spacing: -0.52px;
    }

    &__schedule-container {
      display: flex;
      flex-wrap: wrap;
      margin-left: -9px;
      margin-right: -9px;
    }

    &__schedule-item {
      padding-left: 9px;
      padding-right: 9px;
      margin-bottom: 20px;
      flex-basis: 100%;
    }

    &__schedule-item-inner {
      padding: 12px;
    }

    &__schedule-item-date {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;
    }

    &__schedule-item-time {
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.28px;
    }

    &__schedule-item-place {
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.28px;
    }
  }
}