.hero {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;

  &_main {
    background: linear-gradient(0.62deg, #040720 1.83%, rgba(4, 7, 32, 0) 62.75%), linear-gradient(180deg, rgba(3, 5, 26, 0.89) 0%, rgba(1, 2, 9, 0.194688) 32.04%, rgba(1, 4, 19, 0) 36.73%), url(../img/hero/main-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &_exhibition {
    background: linear-gradient(0.62deg, #040720 1.83%, rgba(4, 7, 32, 0) 62.75%), linear-gradient(180deg, rgba(3, 5, 26, 0.89) 0%, rgba(1, 2, 9, 0.194688) 32.04%, rgba(1, 4, 19, 0) 36.73%), url(../img/hero/hero-exhibition.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &_transport {
    background: linear-gradient(0.62deg, #040720 1.83%, rgba(4, 7, 32, 0) 62.75%), linear-gradient(180deg, rgba(3, 5, 26, 0.89) 0%, rgba(1, 2, 9, 0.194688) 32.04%, rgba(1, 4, 19, 0) 36.73%), url(../img/hero/hero-transport-week.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &_dvor {
    background: linear-gradient(0.62deg, #040720 1.83%, rgba(4, 7, 32, 0) 62.75%), linear-gradient(180deg, rgba(3, 5, 26, 0.89) 0%, rgba(1, 2, 9, 0.194688) 32.04%, rgba(1, 4, 19, 0) 36.73%), url(../img/hero/hero-dvor.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &_forum {
    background: linear-gradient(0.62deg, #040720 1.83%, rgba(4, 7, 32, 0) 62.75%), linear-gradient(180deg, rgba(3, 5, 26, 0.89) 0%, rgba(1, 2, 9, 0.194688) 32.04%, rgba(1, 4, 19, 0) 36.73%), url(../img/hero/hero-forum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &_award {
    background: linear-gradient(0.62deg, #040720 1.83%, rgba(4, 7, 32, 0) 62.75%), linear-gradient(180deg, rgba(3, 5, 26, 0.89) 0%, rgba(1, 2, 9, 0.194688) 32.04%, rgba(1, 4, 19, 0) 36.73%), url(../img/hero/hero-award.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__content {
    width: 100%;
  }

  &__inner {
    display: flex;
    position: relative;
  }

  &__info-block {
    display: flex;
  }

  &__info {
    position: relative;
    font-weight: 600;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &_date::before {
      background-image: url(../img/hero/calendar.svg);
    }

    &_place::before {
      background-image: url(../img/hero/map-pin.svg);
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
    align-items: flex-end;
  }

  &__line {
    display: flex;
    align-items: flex-end;
    column-gap: 40px;
  }

  &__text {
    font-weight: 600;
    line-height: 140%;
  }

  &__scroll {
    position: absolute;
    right: 30px;
    bottom: 0;
  }

  @include desktop {
    &__content {
      padding-bottom: 80px;
    }

    &__title {
      width: fit-content;

      &_little {
        max-width: 350px;
      }
    }

    &__info {
      padding-left: 30px;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;

      &::before {
        width: 20px;
        height: 20px;
      }
    }

    &__info-block {
      margin-bottom: 8px;
    }

    &__line {
      align-items: flex-end;
    }

    &__line-inner {
      max-width: 1080px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 40px;
      align-items: end;
    }

    &__text {
      font-size: 22px;
      letter-spacing: -0.44px;
      max-width: 600px;

      &_forum {
        max-width: 100%;
      }
    }

    &__buttons {
      margin-left: 40px;
    }
  }

  @include small-desktop {
    &__content {
      padding-bottom: 80px;
    }

    &__title {
      max-width: 750px;
    }

    &__line {
      align-items: flex-end;
    }

    &__info-block {
      margin-bottom: 8px;
    }

    &__line-inner {
      max-width: 1080px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 40px;
      align-items: end;
    }

    &__info {
      padding-left: 30px;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;

      &::before {
        width: 20px;
        height: 20px;
      }
    }

    &__text {
      font-size: 20px;
      letter-spacing: -0.44px;
      max-width: 560px;
    }
  }

  @include tablet {
    &__content {
      padding-bottom: 60px;
    }

    &__title {
      max-width: 560px;
    }

    &__inner {
      flex-direction: column;
      row-gap: 30px;
    }

    &__info {
      padding-left: 20px;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.28px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }

    &__info-block {
      margin-bottom: 4px;
    }

    &__line {
      flex-direction: column;
      align-items: flex-start;
    }

    &__text {
      font-size: 18px;
      letter-spacing: -0.44px;
      max-width: 500px;

      &_award {
        margin-top: 8px;
        margin-bottom: 25px;
      }
    }

    &__scroll {
      display: none;
    }

    &__buttons {
      max-width: 365px;
    }
  }

  @include mobile {
    &__content {
      padding-bottom: 45px;
    }

    &__title {
      max-width: 330px;
    }

    &__info {
      padding-left: 20px;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.28px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }

    &__info-block {
      margin-bottom: 4px;
    }

    &__inner {
      flex-direction: column;
      row-gap: 30px;
    }

    &__line {
      flex-direction: column;
      align-items: flex-start;
    }

    &__text {
      font-size: 18px;
      letter-spacing: -0.44px;
      max-width: 500px;

      &_award {
        margin-top: 4px;
        margin-bottom: 20px;
      }
    }

    &__scroll {
      display: none;
    }

    &__buttons {
      max-width: 280px;
    }
  }
}