.hero {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;

  &_main {
    background: linear-gradient(2deg, #040720 0%, rgba(4, 7, 32, 0.00) 100%), linear-gradient(180deg, rgba(6, 9, 39, 0.89) 0%, rgba(1, 2, 9, 0.19) 68.23%, rgba(30, 191, 241, 0.00) 100%), url(../img/hero/main-page.png), lightgray -143.25px 0px / 119.896% 117.569% no-repeat;
  }

  &_exhibition {
    background: linear-gradient(2deg, #040720 0%, rgba(4, 7, 32, 0.00) 100%), linear-gradient(180deg, rgba(6, 9, 39, 0.89) 0%, rgba(1, 2, 9, 0.19) 68.23%, rgba(30, 191, 241, 0.00) 100%), url(../img/hero/hero-exhibition.jpg), lightgray -143.25px 0px / 119.896% 117.569% no-repeat;
  }

  &_transport {
    background: linear-gradient(2deg, #040720 0%, rgba(4, 7, 32, 0.00) 100%), linear-gradient(180deg, rgba(6, 9, 39, 0.89) 0%, rgba(1, 2, 9, 0.19) 68.23%, rgba(30, 191, 241, 0.00) 100%), url(../img/hero/hero-transport-week.png), lightgray -143.25px 0px / 119.896% 117.569% no-repeat;
  }

  &_dvor {
    background: linear-gradient(2deg, #040720 0%, rgba(4, 7, 32, 0.00) 100%), linear-gradient(180deg, rgba(6, 9, 39, 0.89) 0%, rgba(1, 2, 9, 0.19) 68.23%, rgba(30, 191, 241, 0.00) 100%), url(../img/hero/hero-dvor.png), lightgray -143.25px 0px / 119.896% 117.569% no-repeat;
  }

  &_forum {
    background: linear-gradient(2deg, #040720 0%, rgba(4, 7, 32, 0.00) 100%), linear-gradient(180deg, rgba(6, 9, 39, 0.89) 0%, rgba(1, 2, 9, 0.19) 68.23%, rgba(30, 191, 241, 0.00) 100%), url(../img/hero/hero-forum.jpg), lightgray -143.25px 0px / 119.896% 117.569% no-repeat;
  }

  &__content {
    width: 100%;
  }

  &__inner {
    display: flex;
    position: relative;
  }

  &__info-block {
    display: flex;
    column-gap: 20px;
  }

  &__info {
    position: relative;
    font-weight: 600;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &_date::before {
      background-image: url(../img/hero/calendar.svg);
    }

    &_place::before {
      background-image: url(../img/hero/map-pin.svg);
    }
  }

  &__buttons {
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
  }

  &__line {
    display: flex;
    align-items: flex-end;
    column-gap: 40px;
  }

  &__text {
    font-weight: 600;
    line-height: 140%;
  }

  &__scroll {
    position: absolute;
    right: 30px;
    bottom: 0;
  }

  @include desktop {
    &__content {
      padding-bottom: 80px;
    }

    &__title {
      width: fit-content;
    }

    &__info {
      padding-left: 30px;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;

      &::before {
        width: 20px;
        height: 20px;
      }
    }

    &__line {
      align-items: flex-end;
    }

    &__text {
      font-size: 22px;
      letter-spacing: -0.44px;
      max-width: 600px;

      &_forum {
        max-width: 100%;
      }
    }
  }

  @include small-desktop {
    &__content {
      padding-bottom: 80px;
    }

    &__title {
      max-width: 750px;
    }

    &__line {
      align-items: flex-end;
    }

    &__info {
      padding-left: 30px;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;

      &::before {
        width: 20px;
        height: 20px;
      }
    }

    &__text {
      font-size: 20px;
      letter-spacing: -0.44px;
      max-width: 560px;
    }
  }

  @include tablet {
    &__content {
      padding-bottom: 60px;
    }

    &__title {
      max-width: 560px;
    }

    &__inner {
      flex-direction: column;
      row-gap: 30px;
    }

    &__info {
      padding-left: 20px;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.28px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }

    &__line {
      flex-direction: column;
      align-items: flex-start;
    }

    &__text {
      font-size: 18px;
      letter-spacing: -0.44px;
      max-width: 500px;
    }

    &__scroll {
      display: none;
    }
  }

  @include mobile {
    &__content {
      padding-bottom: 40px;
    }

    &__title {
      max-width: 330px;
    }

    &__info {
      padding-left: 20px;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.28px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }

    &__inner {
      flex-direction: column;
      row-gap: 30px;
    }

    &__line {
      flex-direction: column;
      align-items: flex-start;
    }

    &__text {
      font-size: 18px;
      letter-spacing: -0.44px;
      max-width: 500px;
    }

    &__scroll {
      display: none;
    }
  }
}