.news {

  &__wrapper {
    max-width: 1280px;
    padding: 0 40px;
    margin: auto;
  }

  &__title {
    text-align: center;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
  }

  &__item-img {
    display: block;
    width: 100%;
    border-radius: 24px;
    aspect-ratio: 5/3;
  }

  &__item-date {
    font-weight: 600;
    opacity: 0.5;
  }

  &__item-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-self: stretch;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-weight: 600;
  }

  &__item-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.8;
    font-weight: 600;
  }

  &__item-link {
    position: relative;
    color: white;
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    padding-right: 20px;

    &::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      right: 0;
      top: 3px;
      background-image: url(../img/link-arrow.svg);
    }

  }

  @include desktop {
    padding-top: 245px;
    padding-bottom: 125px;

    &__wrapper {
      padding: 0 40px;
    }

    &__title {
      margin-bottom: 80px;
    }

    &__block {
      justify-content: space-between;
    }

    &__item {
      max-width: 390px;
    }

    &__item-inner {
      padding: 32px;
    }

    &__item-img {
      margin-bottom: 25px;
    }

    &__item-date {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
    }

    &__item-title {
      font-size: 22px;
      line-height: 140%;
      letter-spacing: -0.44px;
      margin-bottom: 12px;
    }

    &__item-text {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
      margin-bottom: 20px;
    }

    &__item-link {
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0.65px;
    }
  }

  @include small-desktop {
    padding-top: 200px;
    padding-bottom: 160px;

    &__wrapper {
      padding: 0 40px;
    }

    &__title {
      margin-bottom: 80px;
    }

    &__block {
      justify-content: space-between;
    }

    &__item {
      max-width: 390px;
    }

    &__item-inner {
      padding: 32px;
    }

    &__item-img {
      margin-bottom: 25px;
    }

    &__item-date {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
    }

    &__item-title {
      font-size: 22px;
      line-height: 140%;
      letter-spacing: -0.44px;
      margin-bottom: 12px;
    }

    &__item-text {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
      margin-bottom: 20px;
    }

    &__item-link {
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0.65px;
    }
  }

  @include tablet {
    padding-top: 160px;
    padding-bottom: 120px;

    &__wrapper {
      padding: 0 40px;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__block {
      justify-content: space-between;
    }

    &__item {
      max-width: 330px;
    }

    &__item-inner {
      padding: 32px;
    }

    &__item-img {
      margin-bottom: 25px;
    }

    &__item-date {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
    }

    &__item-title {
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.4px;
      margin-bottom: 12px;
    }

    &__item-text {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
      margin-bottom: 20px;
    }

    &__item-link {
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0.65px;
    }
  }

  @include mobile {
    padding-top: 110px;
    padding-bottom: 45px;

    &__wrapper {
      padding: 0 15px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__item-inner {
      padding: 20px;
    }

    &__item-img {
      margin-bottom: 20px;
    }

    &__item-date {
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.28px;
    }

    &__item-title {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.36px;
      margin-bottom: 12px;
    }

    &__item-text {
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.28px;
      margin-bottom: 20px;
    }

    &__item-link {
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.6px;
    }
  }
}