.partners {
  background: #F4F4F4;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  &__title {
    color: #000;
    font-weight: 600;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: fit-content;
    display: inline-block;
  }

  &__item-inner {
    background-color: white;
    border-radius: 20px;
  }


  @include desktop {
    $gap: 12px;

    &__wrapper {
      padding-top: 160px;
      padding-bottom: 120px;
      row-gap: 60px;
    }

    &__title {
      font-size: 52px;
      line-height: 120%;
      letter-spacing: -1.56px;
      margin-bottom: 35px;
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      margin-left: -$gap;
      margin-right: -$gap;
      max-width: 1240px;
      margin-bottom: 30px;
    }

    &__item {
      padding: $gap;
    }

    &__item-inner {
      padding: 40px;
    }
  }

  @include small-desktop {
    $gap: 12px;

    &__wrapper {
      padding-top: 160px;
      padding-bottom: 160px;
      row-gap: 100px;
    }

    &__title {
      font-size: 52px;
      line-height: 120%;
      letter-spacing: -1.56px;
      margin-bottom: 50px;
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      max-width: 1240px;
      margin-bottom: 50px;
    }

    &__item {
      padding: $gap;
    }

    &__item-inner {
      padding: 40px;
    }
  }

  @include tablet {
    $gap: 6px;

    &__wrapper {
      padding-top: 110px;
      padding-bottom: 110px;
      row-gap: 100px;
    }

    &__title {
      font-size: 44px;
      line-height: 140%;
      letter-spacing: -1.32px;
      margin-bottom: 50px;
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    &__item {
      padding: $gap;
    }

    &__item-inner {
      padding: 20px;
      max-width: fit-content;
    }

  }

  @include mobile {
    $gap: 4px;

    &__wrapper {
      padding-top: 65px;
      padding-bottom: 65px;
      row-gap: 40px;
    }

    &__title {
      font-size: 28px;
      line-height: 120%;
      letter-spacing: -0.84px;
      margin-bottom: 30px;
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    &__item {
      padding: $gap;
    }

    &__item-inner {
      padding: 20px;
      max-width: fit-content;
    }
  }
}