.participants {

    &__wrapper {
        max-width: 900px;
        margin: auto;
    }

    &__title {
        text-align: center;
    }

    &__search {
        border-radius: 22px;
        background: rgba(255, 255, 255, 0.10);
        width: 100%;
        border: none;
        color: #FFF;
        font-family: RFDewi;
        font-weight: 600;
        line-height: 140%;
        background: rgba(255, 255, 255, 0.10) url(../img/catalog/search.svg) no-repeat;
        background-position-y: center;

        &::placeholder {
            opacity: .5;
        }
    }

    &__list {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }

    &__item {
        border-radius: 24px;
        background: rgba(255, 255, 255, 0.05);
    }

    &__name {
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 6px;
    }

    &__position {
        font-weight: 600;
        line-height: 140%;
        opacity: .8;
    }

    @include desktop {
        padding-top: 200px;
        padding-bottom: 160px;

        &__wrapper {
            padding: 0 40px;
        }

        &__title {
            margin-bottom: 80px;
        }

        &__search {
            padding: 24px 24px;
            font-size: 16px;
            letter-spacing: -0.32px;
            background-position-x: 97%;
        }

        &__list {
            margin-top: 24px;
            gap: 12px;
            margin-bottom: 120px;
        }

        &__item-inner {
            padding: 32px;
        }

        &__name {
            font-size: 18px;
            letter-spacing: -0.36px;
        }

        &__position {
            font-size: 16px;
            letter-spacing: -0.32px;
        }
    }

    @include small-desktop {
        padding-top: 180px;
        padding-bottom: 120px;

        &__wrapper {
            padding: 0 40px;
        }

        &__title {
            margin-bottom: 80px;
        }

        &__search {
            padding: 24px 24px;
            font-size: 16px;
            letter-spacing: -0.32px;
            background-position-x: 97%;
        }

        &__list {
            margin-top: 24px;
            gap: 12px;
            margin-bottom: 100px;
        }

        &__item-inner {
            padding: 32px;
        }

        &__name {
            font-size: 18px;
            letter-spacing: -0.36px;
        }

        &__position {
            font-size: 16px;
            letter-spacing: -0.32px;
        }
    }

    @include tablet {
        padding-top: 160px;
        padding-bottom: 100px;

        &__wrapper {
            padding: 0 40px;
        }

        &__title {
            margin-bottom: 80px;
        }

        &__search {
            padding: 17px 24px;
            font-size: 16px;
            letter-spacing: -0.32px;
            background-position-x: 95%;
        }

        &__list {
            margin-top: 24px;
            gap: 12px;
            margin-bottom: 80px;
        }

        &__item-inner {
            padding: 32px;
        }

        &__name {
            font-size: 16px;
            letter-spacing: -0.32px;
        }

        &__position {
            font-size: 16px;
            letter-spacing: -0.32px;
        }
    }

    @include mobile {
        padding-top: 140px;
        padding-bottom: 80px;

        &__wrapper {
            padding: 0 15px;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__search {
            padding: 18px 28px;
            font-size: 14px;
            letter-spacing: -0.28px;
            background-position-x: 93%;
        }

        &__list {
            margin-top: 24px;
            gap: 12px;
            margin-bottom: 65px;
        }

        &__item-inner {
            padding: 24px;
        }

        &__name {
            font-size: 14px;
            letter-spacing: -0.28px;
        }

        &__position {
            font-size: 14px;
            letter-spacing: -0.28px;
        }
    }
}