.subtitle {
  font-weight: 600;
  line-height: 140%;

  @include desktop {
    font-size: 22px;
    letter-spacing: -0.44px;
  }

  @include small-desktop {
    font-size: 22px;
    letter-spacing: -0.44px;
  }

  @include tablet {
    font-size: 20px;
    letter-spacing: -0.4px;
  }

  @include mobile {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}