@font-face{
        font-family: RFDewi;
        font-display: swap;
        src: url("../fonts/RFDewi-Regular.woff2") format("woff2"), url("../fonts/RFDewi-Regular.ttf2") format("ttf2");
        font-weight: 400;
        font-style: normal
       }
@font-face{
        font-family: RFDewi;
        font-display: swap;
        src: url("../fonts/RFDewi-Semibold.woff2") format("woff2"), url("../fonts/RFDewi-Semibold.ttf2") format("ttf2");
        font-weight: 600;
        font-style: normal
       }
