.padding-bottom {


  @include desktop {
    padding-bottom: 160px;
  }

  @include small-desktop {
    padding-bottom: 160px;
  }

  @include tablet {
    padding-bottom: 80px;
  }

  @include mobile {
    padding-bottom: 30px;
  }
}