@import '../scss/breakpoints';
@import '../scss/fonts';
@import '../scss/vars';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: RFDewi;
  font-weight: 600;
  color: $color-main;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  overflow: hidden;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




@import '../scss/layout';
@import '../scss/wrapper';
@import '../scss/animation';
@import '../scss/offsets';
@import "../html/common/menu/menu";
@import "../html/common/header/header";
@import "../html/common/footer/footer";
@import '../html/blocks/hamburgers/hamburgers';
@import '../html/blocks/hero/hero';
@import '../html/blocks/title/title';
@import '../html/blocks/subtitle/subtitle';
@import '../html/blocks/button/button';
@import '../html/blocks/advantage/advantage';
@import '../html//blocks/new-banner/news-banner';
@import '../html//blocks/spotlight/spotlight';
@import '../html//blocks/links-line/links-line';
@import '../html//blocks/main-event/main-event';
@import '../html//blocks/profile/profile';
@import '../html//blocks/partners/partners';
@import '../html//blocks/button-line/button-line';
@import '../html//blocks/contact-cards/contact-cards';
@import '../html//blocks/route/route';
@import '../html//blocks/placement/placement';
@import '../html//blocks/speakers/speakers';
@import '../html//blocks/news/news';
@import '../html//blocks/full-news/full-news';
@import '../html//blocks/mass-media/mass-media';
@import '../html//blocks/tabs/tabs';
@import '../html//blocks/tabcontent/tabcontent';
@import '../html//blocks/programm/programm';
@import '../html//blocks/presentation/presentation';
@import '../html//blocks/info-partners/info-partners';
@import '../html//blocks/business-partners/business-partners';
@import '../html//blocks/mass-media-about/mass-media-about';
@import '../html//blocks/statistics/statistics';
@import '../html//blocks/registration/registration';
@import '../html//blocks/stand/stand';
@import '../html//blocks/session/session';
@import '../html//blocks/gallery/gallery';
@import '../html//blocks/catalog/catalog';
@import '../html//blocks/about/about';
@import '../html//blocks/award/award';